

<script >

  mapboxgl.accessToken = 'pk.eyJ1IjoiaGFtaXNoamdyYXkiLCJhIjoiY2pkbjBmeGN6MDd1YzMzbXI3cWdpNThjayJ9.3YE8T1H2QUyqNIkxdKWxkg';

  var map = new mapboxgl.Map({
      container: 'map',
      //style: 'mapbox://styles/hamishjgray/cjvgni6nh0a991fnz00plzg3o',
    style:'mapbox://styles/hamishjgray/ck5w7upie5qdr1iqx8ks3odsf',
      // style: 'mapbox://styles/hamishjgray/ck5w8x0fl0k7x1iogjx2143zo',
      center: [136.624, 37.9],
      zoom: 4.9,
      minZoom: 4,
      maxZoom: 14

    });

  //console.log(map);
/*
  map.fitBounds([[
          143.7690568,
          12.2379
      ], [
          133.299813,
          55.1714184
      ]]);
*/
  var nav = new mapboxgl.NavigationControl();
  map.addControl(nav, 'bottom-right');


  map.on('load', function() {
    // Insert the layer beneath any symbol layer.
    var layers = map.getStyle().layers;

    var labelLayerId;
    for (var i = 0; i < layers.length; i++) {
    if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
      labelLayerId = layers[i].id;
      break;
      }
    }

    });



    // code from the next step will go here!
    var geojson = {
      type: 'FeatureCollection',
      features: [


//************** kulinarik ************




{
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [139.730359, 35.828682]
  },
  properties: {
    id: '1',
    cat: 'kulinarik',
    title: 'Nakiryu Ramen',
    img: 'kulinarik/photos/one-1',
    link: 'kulinarik/#one',
    description: 'Kommen Sie rechtzeitig, um dieses Ramen, das von Michelin ausgezeichnet wurde, zu kosten.'
  }
},
{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [139.762599, 35.672356]
    },
    properties: {
      id: '2',
      cat: 'kulinarik',
      title: 'Sushi',
      img: 'kulinarik/photos/one-2',
      link: 'kulinarik#one',
      description: 'Sushi am laufenden Band: dieser Klassiker aus Hokkaido ist den Besuch wert. '
    }
  },
{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [135.774578, 35.001767]
    },
    properties: {
      id: '3',
      cat: 'kulinarik',
      title: 'Kaiseki',
      img: 'kulinarik/photos/one-3',
      link: 'kulinarik/#one',
      description: 'Kaiseki, wie es die Einheimischen mögen – in 6 Gängen zur Vollendung. '
    }
  },
{
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [135.828629, 34.678226]
  },
  properties: {
    id: '4',
    cat: 'kulinarik',
    title: 'Teezeremonie',
    img: 'kulinarik/photos/one-4',
    link: 'kulinarik/#one',
    description: 'Matcha oder Sencha – Teegenuss wird in Japan seit über 1000 Jahren durch feste Regeln bestimmt.'
  }
},


    //************** Outdoor ************

  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [138.730781, 35.362799]
    },
    properties: {
      id: '1',
      cat: 'outdoor',
      title: 'Mount Fuji',
      img: 'tokio/photos/four-2',
      link: 'tokio/#four',
      description: 'Wandern ist in Japan eine Art physische Religion. Wer einen Sonnenaufgang am Fuji erlebt, wird gläubig'
    }
  },
    {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [131.152641, 32.451645]
    },
    properties: {
      id: '2',
      cat: 'outdoor',
      title: 'Kyushu',
      img: 'outdoor/photos/one-1',
      link: 'outdoor/#one',
      description: 'Der aktivste Vulkan Japans - und ein überaus reizvoller Nationalpark'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [129.738327, 32.627567]
      },
      properties: {
        id: '3',
        cat: 'outdoor',
        title: 'Hashima-Island',
        img: 'outdoor/photos/three-1',
        link: 'outdoor/#three',
        description: 'Was hat es mit dieser Geisterinsel vor der Küste Nagasakis auf sich?'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [141.145721, 42.49538]
      },
      properties: {
        id: '4',
        cat: 'outdoor',
        title: 'Noboribetsu Onsen',
        img: 'outdoor/photos/two-3',
        link: 'outdoor/#three',
        description: 'Hier dampft die Erde: Onsen mit Höllenfaktor.'
      }
    },


    //************** Tradition ************


    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [137.576409, 35.79764]
      },
      properties: {
        id: '1',
        cat: 'tradition',
        title: 'Kiso-Tal',
        img: 'tradition/photos/two-1',
        link: 'tradition/#two',
        description: 'Geschichtsstunde: Wandeln Sie im Kiso-Tal auf dem alten Handelsweg Nakasendo'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [135.755608, 35.021041]
      },
      properties: {
        id: '2',
        cat: 'tradition',
        title: 'Geishas',
        img: 'kulinarik/photos/two-4',
        link: 'kulinarik/#two',
        description: 'Der Inbegriff der japanischen Weiblichkeit und Raffinesse sind die Geishas - und Kyoto ist das Herz der Geisha-Kultur.'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [130.4433045, 31.3792701]
      },
      properties: {
        id: '3',
        cat: 'tradition',
        title: 'Halbinsel Satsuma',
        img: 'tradition/photos/three-1',
        link: 'tradition/#three',
        description: 'Da sie an der Spitze der damaligen Gesellschaftsstruktur standen, hatten die Samurai das Privileg, in eigenen Vierteln zu wohnen.'
      }
    },
    {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [139.75032, 35.683586]
        },
        properties: {
          id: '4',
          cat: 'tradition',
          title: 'Kaiserpalast Tokyo',
          img: 'tokio/photos/three-1',
          link: 'tokio/#three',
          description: 'Geheimnisvoll: nur wenige Gebäude und Gärten des Kaiserpalastes sind frei zugänglich'
        }
      }
  ]
};


    	// add markers to map
    geojson.features.forEach(function(marker) {

      // create a HTML element for each feature
      var el = document.createElement('a');
      //el.innerHTML = 'onlick';

      //document.body.appendChild(el);
      el.className = 'bv-show marker marker--'+marker.properties.cat;
      el.id = marker.properties.cat+marker.properties.id;


    	//alert(marker.properties.id);

      // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML('<a class="text--black" href="{{site.baseurl}}/'+marker.properties.link +'"><div class="bv-popup-img bg-img--4-3" style="background-image: url({{site.img}}/content/'+marker.properties.img+'.jpg); "></div><div class="boxpad--lg vpad--sm"><div class=" text text--md text--black text--bold text--upper text--left" >' + marker.properties.title + '</div><div class="space--xxs"></div><div class="text text--justify text--md text--black">' + marker.properties.description + '<span class="text--red text--bold"> Mehr&nbsp;erfahren</span></div></div></a>'))

      /**/
      .addTo(map);



    });

</script>
