// moidifiers for the site footer theme, is passed as an option on include

$footer-nav-color: $grey-darkest;

.site-nav {
  &--footer {
    background-color: $footer-nav-color;
    &:before { background-image: url("../img/icons/nav-arrow-footer.svg"); }
  }
  &--footer &__item {
    border-bottom: 0;
    background-color: transparent;
    &:after { display: none; }
  }
  &--footer &__link {
    color: $grey-lightest;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    &.is-current      { background-color: rgba($white,.2); }
    .no-touch &:hover {
      color: $white;
      background-color: rgba($white,.3);
     }
  }
}
