---
layout: default
---




<!-- INTRO SECTION -->


{% include page/intro.html %}



<!-- JOURNEY -->


{% for section in site.data[page.id] %}



<div id="{{section.id}}"></div>

<div class="bv-parallax bg--dark" style="background-image:url({{site.img}}/content/{{page.id}}/{{section.id}}.jpg); background-repeat:no-repeat; background-size:cover; background-position:top center;">
  <div class="container vpad--xxxxl ">
          <div class="boxpad--xl text--center">
            <h3 class="title title--xxxxl text--upper text--white text--bolder bv-divider">{{section.title}}</h3>
          </div>
    </div>
    <div class="bg--red-transp">
      <div class="container text--white">
        <div class=" width width--lg vpad--lg text--center text--xxl bv-mob-left">
          {{section.description}}
        </div>
      </div>
      <div class="space--xs"></div>
    </div>
</div>



<div class="bg--light">
  <div class="container vpad--md">
    <div class="space--sm"></div>
      <div class="row {{section.row}} row--no-gutters bg--white bv-boxpad bv-box-shadow bv-border-bottom-" style="border-radius:20px;">

      {% for poi in section.pois.items %}
          <div class="col bv-hpad--sm">
            <div class="space--sm"></div>
            <div class="bg-img bg--white bg-img--lg-4-3 bg-img--16-9" style="background-image:url({{site.img}}/content/{{page.id}}/photos/{{poi.id}}.jpg);">
            <!--  <div class="text text--sm text--white text--light bv-copyright" >{{poi.caption}}</div> -->
            </div>
            <div class="space--md"></div>
            <h5 class="title title--xs text--bold">{{poi.title}}</h5>
            <div class="space--sm"></div>
            <div class="text--justify text text--lg">{{poi.content}}</div>
            <div class="space--lg"></div>
          </div>

        {% endfor %}

      </div>
    </div>
  <div class="space--lg"></div>
</div>

{% endfor %}
